*{
  margin:20px;
}


/* Action CSS */

.action__btn {
    margin: 0 5px;
}

.create__btn {
    margin: 10px 0;
}

.page-item{
  margin: 0px;
}
.page-link{
  margin:5px;
 
}

h2 {

text-align: center;
margin-top: 25px;

}

.pagination {
  text-align: center;
  list-style: inside;
}
/* Read CSS */


